<div class="container">
	<div class="topbar">
		<div class="topbar-right">
			<ul class="topbar-menu">
				<li>
					<%= image_tag("rank.png") %>
					<span> Ranking </span>
				</li>
				<li>
					<%= image_tag("cart.png") %>
					<span> Millas </span>
				</li>
				<li>
					<%= image_tag("prize.png") %>
					<span> Productos </span>
				</li>
				<li>
					<%= image_tag("quiz.png") %>
					<span> Premios</span>
				</li>
				<li>
					<%= image_tag("check.png") %>
					<span> Bases y <br>Condiciones </span>
				</li>
			</ul>
		</div>
	</div>
	<div class="content-box">
		holi soy la giladita del contentBox
		vvervrevreverververvreveverververververver
		ververververververververvreverververve
		ververvrevervreververvreverver
	</div>
	<%= image_tag("philips-logo.png", class: "philips-logo") %>
	<%= image_tag("world-transparent.png", class: "world") %>
	<%= image_tag("philips-event.png", class: "event") %>
</div>
<div class="footer">
	<%= image_tag("garbarino.png", class: "footer-left") %>
	<%= image_tag("philips.png", class: "footer-right") %>
</div>