<div ng-controller="productsController">
  <h3>¿Cómo Sumar millas?</h3>
  <div class="page-controller-wrapper">
    <div class="page-control">
      <a><span id="prev" ng-click="prevPage(index)">Anterior</span></a>
      <span> | Página {{ index + 1 }} | </span>
      <a><span id="next" ng-click="nextPage(index)">Siguiente</span></a>
    </div>
  </div>
  <table class="ranking">
    <tr>
      <th>Producto</th>
      <th>Puntos</th>
    </tr>
    <tr ng-repeat="p in products">
      <td>{{ p.name }}</td>
      <td>{{ p.score }}</td>		
    </tr>
  </table>
</div>

<!-- <div ng-controller="productsController" class="ranking-test">
  <h3>¿Cómo Sumar millas?</h3>
  <div>
  <ul>
    <li><a href="#"><%= image_tag("Baja/HD7854-88.jpg") %></a></li>
    <li><a href="#"><%= image_tag("Baja/HD7870.jpg") %></a></li>
    <li><a href="#"><%= image_tag("Baja/HD8856-01.jpg") %></a></li>
    <li><a href="#"><%= image_tag("Baja/HD9384-20.jpg") %></a></li>
    <li><a href="#"><%= image_tag("Baja/HD7854-88.jpg") %></a></li>
    <li><a href="#"><%= image_tag("Baja/HD7854-88.jpg") %></a></li>
    <li><a href="#"><%= image_tag("Baja/HD7854-88.jpg") %></a></li>
    <li><a href="#"><%= image_tag("Baja/HD7854-88.jpg") %></a></li>
    <li><a href="#"><%= image_tag("Baja/HD7854-88.jpg") %></a></li>
    <li><a href="#"><%= image_tag("Baja/HD7854-88.jpg") %></a></li>
    <li><a href="#"><%= image_tag("Baja/HD7854-88.jpg") %></a></li>
    <li><a href="#"><%= image_tag("Baja/HD7854-88.jpg") %></a></li>
    <li><a href="#"><%= image_tag("Baja/HD7854-88.jpg") %></a></li>
    <li><a href="#"><%= image_tag("Baja/HD7854-88.jpg") %></a></li>
    <li><a href="#"><%= image_tag("Baja/HD7854-88.jpg") %></a></li>
  </ul>
</div>

</div> -->