<div class="container">
  <%= image_tag("philips-logo.png", class: "philips-logo") %>
  <%= image_tag("philips-event.png", class: "event") %>
</div>
<div class="login-wrapper">
  <div class= "login-form">
    <%= form_tag(:action => 'login') do %>
      <p>
        DNI:
      </p> 
      <%= text_field_tag :dni %>
      <p>
        Nº de Legajo:
      </p> 
      <%= text_field_tag :employee_file_number %>
      <%= submit_tag("Iniciar") %>
    <% end %>
    <!-- <div class="login-unavailable">
      <h3>La web estará disponible a partir del 6/10.<br><br> Te esperamos!</h3>
    </div> -->
  </div> 
</div>
<%= image_tag("login-world.png", class: "login-world") %>
<%= image_tag("login.png", class: "login-bg") %>
<div class="footer">
  <%= image_tag("philips.png", class: "footer-right") %>
</div>